<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hi-School</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous">
  <link rel="icon" type="image/png"
        href="/static/images/favicon.ico"
        sizes="32x32">
</head>
<body>
<div class="container text-center mb-3">
  <h2>Hi-School</h2>
  <h4>HOW TO USE PAGE</h4>
</div>

<div class="container">
  <div class="row justify-content-end">
    <div class="col-md-6 text-end">
      HELLO
      <b><span sec:authentication="principal.username"></span></b>
      <span sec:authentication="principal.authorities"></span>
      <div class="btn-group">
        <a href="/account/edit-password" class="btn btn-info text-decoration-none">Change Password</a>
        <form action="#" th:action="@{/logout}" method="POST" class="d-inline">
          <button type="submit" class="btn btn-danger">Log out</button>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <div class="text-center">
    ACCESS THE FEATURE PAGE -->
    <a class="btn btn-primary" th:href="@{/checkUserRole}">LIST MENU</a>

    <hr/>
    <img src="/static/images/img.png" alt="HOW TO USE" class="img-fluid" >
    </div>

  </div>

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
          crossorigin="anonymous"></script>
</body>
</html>
