<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Parent List</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="icon" type="image/png"
        href="/static/images/favicon.ico"
        sizes="32x32">
</head>
<body>
<div class="container mt-5">
  <h2 class="mb-4 text-center">Parent List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Students</th>
      <th sec:authorize="hasAnyRole('ADMIN','MANAGER','HEADTEACHER')">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="parent : ${parents}">
      <td th:text="${parent.parentId}"></td>
      <td th:text="${parent.fullName}"></td>
      <td th:text="${parent.phoneNumber}"></td>
      <td th:text="${parent.email}"></td>
      <td>
        <ul class="list-unstyled">
          <li th:each="student : ${parent.students}">
            <span th:text="${student.fullName}"></span>
            <span th:each="schoolClass : ${student.schoolClasses}">
            <span th:text="${schoolClass.className + ' (' + schoolClass.schoolYear.schoolYearName + ')'}"></span>
        </span>
          </li>
        </ul>


      <td>
        <a class="btn btn-primary btn-sm"
           sec:authorize="hasAnyRole('ADMIN','MANAGER','HEADTEACHER')"
           th:href="@{/parent/edit-parent/{id}(id=${parent.parentId})}">Edit</a>
        <a class="btn btn-danger btn-sm" sec:authorize="hasAnyRole('ADMIN','MANAGER')"
           th:href="@{/parent/delete-parent/{id}(id=${parent.parentId})}"
           onclick="return confirmAction('delete')">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a class="btn btn-success" sec:authorize="hasAnyRole('ADMIN','MANAGER')"
       href="/parent/parents-form">Create New Parent</a>
    <hr>
    <a class="btn btn-primary" th:href="@{/checkUserRole}">Back to Home</a>

  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
   function confirmAction(action) {
        return confirm("Are you sure you want to " + action + "?");
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
