<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Teacher List</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
  <link rel="icon" type="image/png"
        href="/static/images/favicon.ico"
        sizes="32x32">
</head>
<body>
<div class="container">
  <h2 class="mt-4 text-center">Teacher List</h2>
  <table class="table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
      <td th:text="${teacher.teacherId}"></td>
      <td th:text="${teacher.fullName}"></td>
      <td th:text="${teacher.phoneNumber}"></td>
      <td th:text="${teacher.email}"></td>
      <td>
        <a class="btn btn-primary btn-sm" th:href="@{/teacher/teachers/edit/{id}(id=${teacher.teacherId})}">Edit</a>
        <a class="btn btn-danger btn-sm" th:href="@{/teacher/teachers/delete/{id}(id=${teacher.teacherId})}" onclick="return confirmAction('delete')">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="text-center">
    <a class="btn btn-success" th:href="@{/teacher/teachers-form}">Create New Teacher</a>
    <hr>
    <a class="btn btn-primary" th:href="@{/checkUserRole}">Back to Home</a>

  </div>
</div>
<script>
   function confirmAction(action) {
        return confirm("Are you sure you want to " + action + "?");
    }

</script>
</body>
</html>
